/* p {
    background-image: "images/logo.jpg"
    color: rbg(255, 165, 0);

}; */


/* 
Keep adding some fade in/out effects to css
Look to adding the marque for the stock market tickers.  */

ul {

};

.header {
    display: block;
    justify-content: space-around;

}

.grid-container {
    opacity: 0.8;
    font-size: large;
    position: sticky;

};


#label {

};

.grid-item {
    font-size: medium;
    display: inline-block;

};

.grid-item:hover {
    display: block;
}

#btn-1 {

};

#test {

};



/*
**
*  This is some test css code for communicating with
*  JavaScript about opening up dynamic css for, specifically, 
*  classes in the tag of a clickable item in the display 
*  viewport. If this comes in the form of block/inline elements
*  with their own sizing, a css media query should be able to be
*  responsive. 
*  As probably seen above this comment ^ there should be a fade-in/
                                       |   fade-out effect when tags
                                       ^      are being displayed.
*
* MYNAME
* DATE

*/

#myDIV {
    display: flex;

};

#nav #navEl {
    float: right;
    padding-top: 40px;
  }

.test-container {
    display: none;
    justify-content: center;
    align-items: flex-start;
    font-size: medium;
    color: powderblue;

}

#color-changer {
  display: inline-flex;
};

.test-inner {

};

.ele {
    opacity: 1;
    transition: opacity 2s linear;
    display:none;
}


@media screen and (max-width: 1030px) {
    li {
      padding-right: 10px;
    }
  }
   
  @media screen and (max-width: 903px) {
    #nav {
      height: 300px;
      display: block;
    }
    #logo{
      height: 150px;
      margin: 0 auto;
      margin-left: 12%;
    }
    #navEl {
      overflow: hidden;
      width: 100%;
      background-color: #f5f1e1;
      padding-left: 20px;
      padding-right: 20px;
    }
   
    .myBox {
      margin-top: 150px;
      display: inline-block;
    }
  }
  
  
