/* p {
    background-image: "images/logo.jpg"
    color: rbg(255, 165, 0);

}; */

ul {

};

.grid-container {
    opacity: 0.8;
    font-size: large;
    position: sticky;

};


#label {

};

.grid-item {
    font-size: medium;
    display: inline-block;

};

.grid-item:hover {
    display: block;
}

#btn-1 {

};

#test {

};

.test-container {
    display: none;
    justify-content: center;
    align-items: flex-start;
    font-size: medium;
    color: powderblue;

}
