/* p {
    background-image: "images/logo.jpg"
    color: rbg(255, 165, 0);

}; */


/* 
Keep adding some fade in/out effects to css
Look to adding the marque for the stock market tickers.  */

#logo {
  float: left;
  height: 100%;
  overflow: hidden;
}

.flex-container {
  display: flex;
  justify-content: center;
  position: relative;
  background-color: green;
  z-index: 1071;
}

#flex-child {
  display: inline-flex;
  justify-content: space-between;
  text-shadow: 0.5em;
  font-size: medium;
  padding-right: 2em;
  padding-left: 2em;
}

.header {
    display: block;
    justify-content: space-around;

}

.grid-container {
    opacity: 0.8;
    font-size: large;
    position: sticky;

};

.grid-item {
    font-size: medium;
    display: inline-block;

};

.grid-item:hover {
    display: block;
}

li {
  list-style: none;
  display: inline-block;
  padding-right: 40px;
}
 
li a {
  text-decoration: none;
  font-size: large;
  color: black;
}
a:hover {
  /* background:gray; */
  opacity: 0.2;
  transition: .5s;
}


#myDIV {
    display: flex;

};

#nav #navEl {
    float: right;
    padding-top: 40px;
    background-color: green;
  }

  #navEl {
    margin-top: 2.5em;
  }

.test-container {
    display: none;
    justify-content: center;
    align-items: flex-start;
    font-size: medium;
    color: powderblue;

}

#color-changer {
  display: inline-flex;
};


.ele {
    opacity: 1;
    transition: opacity 2s linear;
    display:none;
}

  #maindiv{
    background-color: black;
    overflow: hidden;
    white-space: wrap;
  }
  
  #div1 {
    display: inline-block;
    animation: marquee 10s linear infinite;
  }
  
  /* #div2 {
    display: inline-block;
    animation: marquee2 10s linear infinite;
    animation-delay: 5s;
  } */
  
  @keyframes marquee {
    from {
      transform: translateX(250%);
    }
    to {
      transform: translateX(-100%);
    }
  }
  
  @keyframes marquee2 {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(-250%);
    }
  }



  .space-bet {
    padding-right: 10px;
    padding-left: 10px;
    color: white;
  }

  span {
    padding-left: 3px;
    padding-right: 3px;
  }

  .para1, .para2, .para3 {
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    opacity: 0.8;
    background-position: center;
}
.para1 {
    background-image: url('BakeryBg1.jpg');
    min-height: 100%;
}

.para2 {
    background-image: url('img2.jpg');
    min-height: 100%;
}

.para3 {
    background-image: url('img3.jpg');
    min-height: 100%;
}
#nav {
    display: inline-flex;
    justify-content: space-between;
    top: 28px;
    left: 0px;
    width: 100%;
    height: 150px;
    padding: 15px;
    background-color: #00ffff;
    position: fixed;
    z-index: 500;
}
@media screen and (max-width: 1030px) {
    li {padding-right: 10px;}
}

@media screen and (max-width: 903px) {
    #nav {
        height: 300px;
        display: block;
    }
    #logo {
        height: 150px;
        margin: 0 auto;
        margin-left: 12%;
    }
    #navEl {
        overflow: hidden;
        width: 100%;
        background-color: #f5f1e1;
        padding-left: 20px;
        padding-right: 20px;
    }

    .myBox {
        margin-top: 150px;
        display: inline-block;
    }
}


  
